<!-- A base html file to be extended upon -->
<html>
    <head>
        <!-- Set the title -->
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Welcome to the Test!</title>
        {% endif %}
    </head>
    <body>
        <!-- Create a navbar -->
        <div>
            Test: 
            <a href="/index">Home</a>
            <a href="/login">Login</a>
        </div>
        <hr>

        <!-- This is where the extended content will go -->
        {% block content %}{% endblock %}
    </body>
</html>